@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FF9F0A;
  --secondary: #00E5FF;
  --accent: #FF5A5F;
  --dark-blue: #002554;
  --card-bg: #FFFFFF;
  --section-bg: #F0F7FF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-dark-blue: var(--dark-blue);
  --color-card-bg: var(--card-bg);
  --color-section-bg: var(--section-bg);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: 'Outfit', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.gradient-text {
  background: linear-gradient(to right, #FF9F0A, #FFD60A);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.cyan-gradient {
  background: linear-gradient(to right, #00E5FF, #00B4D8);
}